lib/cdata.jdbc.access-20.0.7662.jar
lib/cdata.jdbc.activedirectory-16.0.6254.jar
lib/cdata.jdbc.alfresco-19.0.7354.jar
lib/cdata.jdbc.amazonathena-19.0.7354.jar
lib/cdata.jdbc.amazondynamodb-19.0.7285.jar
lib/cdata.jdbc.apachehbase-16.0.6254.jar
lib/cdata.jdbc.authorizenet-16.0.6254.jar
lib/cdata.jdbc.azure-15.0.6121.jar
lib/cdata.jdbc.azuretables-18.0.6818.jar
lib/cdata.jdbc.basecamp-19.0.7285.jar
lib/cdata.jdbc.bing-16.0.6254.jar
lib/cdata.jdbc.bingads-19.0.7354.jar
lib/cdata.jdbc.box-16.0.6254.jar
lib/cdata.jdbc.bullhorncrm-21.0.7942.jar
lib/cdata.jdbc.c1010-20.0.7513.jar
lib/cdata.jdbc.cassandra-19.0.7354.jar
lib/cdata.jdbc.couchbase-19.0.7285.jar
lib/cdata.jdbc.csv-20.0.7662.jar
lib/cdata.jdbc.d365businesscentral-19.0.7354.jar
lib/cdata.jdbc.d365finop-20.0.7662.jar
lib/cdata.jdbc.dynamicscrm-21.0.7867.jar
lib/cdata.jdbc.dynamicsnav-16.0.6254.jar
lib/cdata.jdbc.excel-20.0.7593.jar
lib/cdata.jdbc.financialedgenxt-20.0.7662.jar
lib/cdata.jdbc.gmail-20.0.7503.jar
lib/cdata.jdbc.googleanalytics-20.0.7587.jar
lib/cdata.jdbc.googlesheets-19.0.7354.jar
lib/cdata.jdbc.hubspot-21.0.7867.jar
lib/cdata.jdbc.json-20.0.7662.jar
lib/cdata.jdbc.magento-19.0.7430.jar
lib/cdata.jdbc.marketo-21.0.7930.jar
lib/cdata.jdbc.mongodb-19.0.7354.jar
lib/cdata.jdbc.msteams-20.0.7662.jar
lib/cdata.jdbc.netsuite-21.0.7941.jar
lib/cdata.jdbc.odoo-19.0.7354.jar
lib/cdata.jdbc.office365-20.0.7662.jar
lib/cdata.jdbc.oracleeloqua-20.0.7662.jar
lib/cdata.jdbc.redis-19.0.7354.jar
lib/cdata.jdbc.redshift-21.0.7642.jar
lib/cdata.jdbc.rest-19.0.7354.jar
lib/cdata.jdbc.rss-19.0.7374.jar
lib/cdata.jdbc.salesforcepardot-21.0.8087.jar
lib/cdata.jdbc.sapbusinessone-19.0.7354.jar
lib/cdata.jdbc.sapconcur-20.0.7662.jar
lib/cdata.jdbc.sapgateway-19.0.7354.jar
lib/cdata.jdbc.saphana-19.0.7467.jar
lib/cdata.jdbc.saphybrisc4c-18.0.6782.jar
lib/cdata.jdbc.servicenow-20.0.7662.jar
lib/cdata.jdbc.sfmarketingcloud-18.0.6817.jar
lib/cdata.jdbc.sfmarketingcloud-19.0.7354.jar
lib/cdata.jdbc.shopify-20.0.7503.jar
lib/cdata.jdbc.smartsheet-19.0.7354.jar
lib/cdata.jdbc.splunk-19.0.7216.jar
lib/cdata.jdbc.sql-18.0.6864.jar
lib/cdata.jdbc.sugarcrm-20.0.7503.jar
lib/cdata.jdbc.suitecrm-19.0.7354.jar
lib/cdata.jdbc.wordpress-19.0.7354.2.jar
lib/cdata.jdbc.workday-21.0.7936.jar
lib/cdata.jdbc.xml-20.0.7662.jar
lib/d365businesscentral-18.0.6886.jar
lib/db2-jdbc-1.jar
lib/db2jcc-4.14.137.jar
lib/dynamicscrm-18.0.6894.jar
lib/googlebigquery-20.0.7558.jar
lib/jackson-annotations-2.12.3.jar
lib/jackson-core-2.12.3.jar
lib/jackson-databind-2.12.3.jar
lib/jackson-datatype-jdk8-2.12.0.jar
lib/jackson-datatype-jsr310-2.12.0.jar
lib/jackson-jaxrs-base-2.9.10.jar
lib/jackson-jaxrs-json-provider-2.9.10.jar
lib/jackson-module-jaxb-annotations-2.9.10.jar
lib/jt400-10.6.jar
lib/jtds-1.3.1.jar
lib/lept4j-1.6.3.jar
lib/leptonica-1.74.4-1.4-android-arm.jar
lib/leptonica-1.74.4-1.4-android-x86.jar
lib/leptonica-1.74.4-1.4-linux-armhf.jar
lib/leptonica-1.74.4-1.4-linux-ppc64le.jar
lib/leptonica-1.74.4-1.4-linux-x86_64.jar
lib/leptonica-1.74.4-1.4-linux-x86.jar
lib/leptonica-1.74.4-1.4-macosx-x86_64.jar
lib/leptonica-1.74.4-1.4-windows-x86_64.jar
lib/leptonica-1.74.4-1.4-windows-x86.jar
lib/leptonica-1.74.4-1.4.jar
lib/leptonica-platform-1.74.4-1.4.jar
lib/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
lib/mail-1.4.2.jar
lib/mariadb-java-client-2.2.1.jar
lib/metadata-37.0.jar
lib/metrics-spi-2.16.85.jar
lib/mssql-jdbc_auth-8.4.1.x64.dll
lib/mssql-jdbc-8.4.1.jre8.jar
lib/mysema-commons-lang-0.2.1.jar
lib/mysql-connector-java-8.0.23.jar
lib/netty-buffer-4.1.63.Final.jar
lib/netty-codec-4.1.63.Final.jar
lib/netty-codec-http-4.1.63.Final.jar
lib/netty-codec-http2-4.1.63.Final.jar
lib/netty-common-4.1.63.Final.jar
lib/netty-handler-4.1.63.Final.jar
lib/netty-nio-client-2.16.85.jar
lib/netty-reactive-streams-2.0.5.jar
lib/netty-reactive-streams-http-2.0.5.jar
lib/netty-resolver-4.1.63.Final.jar
lib/netty-transport-4.1.63.Final.jar
lib/netty-transport-native-epoll-4.1.63.Final-linux-x86_64.jar
lib/netty-transport-native-unix-common-4.1.63.Final.jar
lib/ngdbc-2.5.49.jar
lib/nimbus-jose-jwt-9.11.1.jar
lib/oci-java-sdk-circuitbreaker-2.3.0.jar
lib/oci-java-sdk-common-2.3.0.jar
lib/oci-java-sdk-objectstorage-2.3.0.jar
lib/oci-java-sdk-objectstorage-extensions-2.3.0.jar
lib/oci-java-sdk-objectstorage-generated-2.3.0.jar
lib/ojdbc8-18.3.jar
lib/okhttp-2.7.5.jar
lib/okio-1.6.0.jar
lib/opencsv-2.3.jar
lib/opencsv-3.7.jar
lib/oraclepki-18.3.jar
lib/osdt_cert-18.3.jar
lib/osdt_core-18.3.jar
lib/osgi-resource-locator-1.0.3.jar
lib/postgresql-42.2.16.jar
lib/profiles-2.16.85.jar
lib/protobuf-java-3.11.4.jar
lib/protocol-core-2.16.85.jar
lib/querydsl-apt-2.2.3.jar
lib/querydsl-collections-2.2.3.jar
lib/querydsl-core-2.2.3.jar
lib/querydsl-jpa-2.2.3.jar
lib/quickbooks-19.0.7156.jar
lib/quickbooksonline-19.0.7156.jar
lib/reactive-streams-1.0.3.jar
lib/regions-2.16.85.jar
lib/resilience4j-circuitbreaker-1.2.0.jar
lib/resilience4j-core-1.2.0.jar
lib/rj-rest-jdbc-6.2.38.jar
lib/rj.ico
lib/rjcommons-6.2.1-SNAPSHOT.jar
lib/rjlm-client-1.4-SNAPSHOT.jar
lib/RJMetaData-6.2.1-SNAPSHOT.jar
lib/rjwarehouse-6.2.1-SNAPSHOT.jar
lib/rssbus-19.0.7354.jar
lib/s3-2.16.85.jar
lib/salesforce-19.0.7200.jar
lib/saxon-8.7.jar
lib/saxon-dom-8.7.jar
lib/sdk-core-2.16.85.jar
lib/ServiceTool-6.2.1-SNAPSHOT.jar
lib/slf4j-api-1.7.32.jar
lib/slf4j-jdk14-1.7.32.jar
lib/snowflake-jdbc-3.13.4.jar
lib/spring-aop-5.0.19.RELEASE.jar
lib/spring-beans-5.0.19.RELEASE.jar
lib/spring-context-5.0.19.RELEASE.jar
lib/spring-core-5.0.19.RELEASE.jar
lib/spring-expression-5.0.19.RELEASE.jar
lib/spring-jcl-5.0.19.RELEASE.jar
lib/spring-jdbc-4.3.26.RELEASE.jar
lib/spring-security-acl-4.2.18.RELEASE.jar
lib/spring-security-config-4.2.18.RELEASE.jar
lib/spring-security-core-4.2.18.RELEASE.jar
lib/spring-security-taglibs-4.2.18.RELEASE.jar
lib/spring-security-web-4.2.18.RELEASE.jar
lib/spring-tx-4.3.26.RELEASE.jar
lib/spring-web-5.0.19.RELEASE.jar
lib/spring-webmvc-5.0.19.RELEASE.jar
lib/sqlite-jdbc-3.7.2.jar
lib/sqlj4.zip
lib/ST4-4.3.jar
lib/stax-ex-1.8.jar
lib/taglibs-standard-impl-1.2.5.jar
lib/taglibs-standard-spec-1.2.5.jar
lib/tess4j-3.4.4.jar
lib/tesseract-3.05.01-1.4-android-arm.jar
lib/tesseract-3.05.01-1.4-android-x86.jar
lib/tesseract-3.05.01-1.4-linux-armhf.jar
lib/tesseract-3.05.01-1.4-linux-ppc64le.jar
lib/tesseract-3.05.01-1.4-linux-x86_64.jar
lib/tesseract-3.05.01-1.4-linux-x86.jar
lib/tesseract-3.05.01-1.4-macosx-x86_64.jar
lib/tesseract-3.05.01-1.4-windows-x86_64.jar
lib/tesseract-3.05.01-1.4-windows-x86.jar
lib/tesseract-3.05.01-1.4.jar
lib/tesseract-platform-3.05.01-1.4.jar
lib/tomitribe-http-signatures-1.0.jar
lib/txw2-2.3.1.jar
lib/ucp-18.3.jar
lib/utils-2.16.85.jar
lib/vavr-0.10.0.jar
lib/vavr-match-0.10.0.jar
lib/velocity-engine-core-2.3.jar
lib/vertica-jdbc-9.2.1.jar
lib/wsdl4j-1.5.1.jar
lib/xercesImpl-2.12.1.jar
lib/xml-apis-1.4.01.jar
lib/xmlgraphics-commons-1.4.jar
